@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["HideBrand"] = true;
}
<div class="d-flex justify-content-center flex-column h-100">
    <div class="d-flex flex-column justify-content-center text-center">
        <h1 class="display-4 text-dark">@IndexModel.Content.Header</h1>
        <p class="text-dark">@IndexModel.Content.Blurb</p>
    </div>
    <div class="mt-5 d-flex flex-column align-items-center">
        <h2 class="text-dark">Recent Blog Posts</h2>
        <ul class="recent-blogs">
            @foreach (var blog in Model.MostRecentBlogs)
            {
                <li>
                    <span class="blog-date">@blog.Created.Date.ToString("dd-MM-yyyy")</span>
                    <a asp-page="/Blog" asp-route-title="@blog.Title.Replace(' ', '-')">@blog.Title</a>
                </li>
            }
        </ul>
    </div>
</div>

