@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["HideBrand"] = true;
}

<div class="col-md-3"></div>
<div class="d-flex flex-column justify-content-center col-md-3 text-center">
    <h1 class="display-4 text-dark">@IndexModel.Content.Header</h1>
    <p class="text-dark">@IndexModel.Content.Blurb</p>
</div>
<div class="col-md-6 d-flex justify-content-center">
    <img class="main-image img-fluid" src="@IndexModel.Content.ImageUrl"/>
</div>
<div class="row col-md-12 mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <h2 class="text-dark">Recent Blog Posts</h2>
        <ul class="recent-blogs">
            @foreach (var blog in Model.MostRecentBlogs)
            {
                <li>
                    <span class="blog-date">@blog.Created.Date.ToString("dd-MM-yyyy")</span>
                    <a asp-page="/Blog" asp-route-title="@blog.Title.Replace(' ', '-')">@blog.Title</a>
                </li>
            }
        </ul>
    </div>
</div>